

<!-- Tabs navs -->
<!-- Tabs navs -->
<ul class=" tab-setter nav nav-tabs mb-3" style="justify-content:center;" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a
      class="nav-link active"
      id="ex1-tab-1"
      data-mdb-toggle="tab"
      href="#ex1-tabs-1"
      role="tab"
      aria-controls="ex1-tabs-1"
      aria-selected="true"
      >My Projects</a
    >
  </li>
  <li class="nav-item" role="presentation">
    <a
      class="nav-link"
      id="ex1-tab-2"
      data-mdb-toggle="tab"
      href="#ex1-tabs-2"
      role="tab"
      aria-controls="ex1-tabs-2"
      aria-selected="false"
      >My Ideas</a
    >
  </li>
  <!-- <li class="grip-setter" style="margin-top: 5px;margin-left: 500px;"><a href="Verticle.html" ><button style="background: transparent;border:none;"><i class="fas fa-grip-horizontal"></i></button></a></li> -->
</ul>
<!-- Tabs navs -->

<!-- Tabs content -->


<div class="tab-content" id="ex1-content" >




  

  {% include 'profile/tab.html' with tab_id='ex1-tabs-1' %}


  {% comment %} {% include 'profile/tab.html' with tab_id='ex1-tabs-2' %}
  {% include 'profile/tab.html' with tab_id='ex1-tabs-3' %}

 {% endcomment %}




</div>
<!-- Tabs content -->
<!-- Tabs content -->