

{% extends 'base.html' %}

    {% block content %}

<link rel="stylesheet" href="/static/css/projects.css">
    
<!-- Jumbotron -->
<section style="padding-left: 0px !important;padding-bottom: 0px !important;height: 400px;

 background: url('/static/assets/images/drone.jpg');
 
 background-position: left center;
 " 
  class="project_bg_image p-5 text-center shadow-1-strong rounded mb-5 text-white project_view"
  
>



<div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white layout " style="text-align: left;height: 200px;">
  <h1 style="text-align:left;font-size: 2.5em;font-family: 'Raleway', sans-serif;" class="mb-3 h2"><strong>Autonomous Drone</strong></h1>
<h1 style="text-align:left;font-size: 1.2em;font-family: 'Raleway', sans-serif;" class="mb-3 h2">Boeing Aviations Co.</h1>
</div>

</section>
<!-- Jumbotron -->
<div style="flex-direction: row;
            " class=" card w-100">

            
       <div class=" card" style="width: 1550px;height: auto;:margin-top: 25px;background-color: white;margin-left: 20px;">
        <div class="card-body" style="box-shadow: none;border:none;">
          <h2 style="margin-bottom: 30px;margin-top: 30px;font-size: 2.7em;font-family: 'Raleway', sans-serif;"><strong>DESCRIPTION</strong></h2>


         

          <h5 class="card-title" style="margin-top: 30px" style="font-family: 'Raleway', sans-serif;">Flying Time</h5>
          
           <p class="card-text" style="font-family: 'Raleway', sans-serif;">
            Autonomous flight has the potential to deliver increased fuel savings, reduce the operating costs of airlines, and support pilots in their strategic decision-making and mission management. At Airbus, we are building certifiable, safe and secure autonomy systems and programmes to power the next generation of commercial aircraft applications.
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters 
            
        
           </p>
            <h5 class="card-title" style="margin-top: 30px" style="font-family: 'Raleway', sans-serif;">Longest Distance</h5>
 
           <p class="card-text" style="font-family: 'Raleway', sans-serif;">
            Autonomous flight has the potential to deliver increased fuel savings, reduce the operating costs of airlines, and support pilots in their strategic decision-making and mission management. At Airbus, we are building certifiable, safe and secure autonomy systems and programmes to power the next generation of commercial aircraft applications.
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters 
          
           </p>

 <h5 class="card-title" style="margin-top: 30px" style="font-family: 'Raleway', sans-serif;">Charging capacity</h5>
          
           <p class="card-text" style="font-family: 'Raleway', sans-serif;">
            Autonomous flight has the potential to deliver increased fuel savings, reduce the operating costs of airlines, and support pilots in their strategic decision-making and mission management. At Airbus, we are building certifiable, safe and secure autonomy systems and programmes to power the next generation of commercial aircraft applications.
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters 
            
            #Next text is editable....
           </p>
 <h5 class="card-title" style="margin-top: 30px" style="font-family: 'Raleway', sans-serif;">Area and Span/h5>
  
           <p class="card-text" style="font-family: 'Raleway', sans-serif;">
           Some quick example text to build on the card title and make up the bulk of the
            card's content.
           </p>
          

 {% include 'projects/carousel.html' %}

      
        </div>
<h1 style="margin-bottom: 30px;margin-top: 30px;margin-left: 20px;font-family: 'Roboto', sans-serif; "><strong>FILES</strong></h1>
<div style="flex-direction: row;">
<button type="button" class="btn btn-primary btn-rounded" style="width: 100px;margin-left: 30px;margin-bottom: 30px;">ZIP 1</button>
<button type="button" class="btn btn-primary btn-rounded" style="width: 100px;margin-left: 30px;margin-bottom: 30px;">ZIP 1</button>
<button type="button" class="btn btn-primary btn-rounded" style="width: 100px;margin-left: 30px;margin-bottom: 30px;">ZIP 1
</button>
</div>

      </div>
        <div style="margin-top: 10px;margin-bottom:50px;margin-left: 30px;border-radius: 25px;height: 1360px;" >
          <h1 style="text-align: center;font-family: 'Raleway', sans-serif;">Meet the team</h1>
       
           <button style="border: bottom 8px;border-left: none;border-top:none;border-right: none;display: inline;margin:10px 20px 0px 20px;box-shadow: none;width: 250px;height: 450px;background-color:transparent;" >
          <div  style="border-bottom:4px;border-color: rgb(83, 78, 78);
            " class="  card w-100" >
            <a style="margin-left:0px;margin-top: 20px; " 
        
      >
            <img  
              src="/static/assets/images/team2.jpg"
              width="185"
              height="180"
              style="border-radius: 25px;"
             
        />
        
            </a>
        <div style="margin-top: 20px;margin-left: 5px;text-align: left;" class="card-body">
          <h5 class="card-title" style="font-family: 'Raleway', sans-serif;">Emily John</h5>
      
          <p style="margin-top: 10px;width: 200px;font-family: 'Raleway', sans-serif;" class="card-text">
            The official account of NUST Formula Student Team
     
          </p>
 
   <div style="margin-top: 15px;">
   <img src="/static/assets/images/badge.png" style="height: 35px;width: 50px;">
    <img src="/static/assets/images/badge.png" style="height: 35px;width: 50px;">
 </div>
  
</div></div></button>


           <div style="margin-top: 10px;margin-bottom:10px;" style="flex-direction: row;display: inline;border-radius: 30px;">
       
            <button style="border: bottom 8px;border-left: none;border-top:none;border-right: none;display: inline;margin:0px 20px 0px 20px;box-shadow: none;width: 250px;height: 450px;background-color:transparent;" >
              <div  style="border-bottom:4px;border-color: rgb(83, 78, 78);
                " class="  card w-100" >
                <a style="margin-left:0px;margin-top: 20px; " 
            
          >
                <img  
                  src="/static/assets/images/team1.jpg"
                  width="185"
                  height="180"
                  style="border-radius: 25px;"
                 
            />
                </a>
            <div style="margin-top: 20px;margin-left: 5px;text-align: left;" class="card-body">
              <h5 class="card-title" style="font-family: 'Raleway', sans-serif;">John Doe</h5>
          
              <p style="margin-top: 10px;width: 200px;font-family: 'Raleway', sans-serif;" class="card-text">
                The official account of the Renowned Tesla production manager
         
              </p>
     
       <div style="margin-top: 15px;">
       <img src="/static/assets/images/badge.png" style="height: 35px;width: 50px;">
        <img src="/static/assets/images/badge.png" style="height: 35px;width: 50px;">
     </div>
      
    </div></div></button>
    
 <div style="margin-bottom: 10px;margin-top: 10px;" style="flex-direction: row;display: inline;">
       
  <button style="border: bottom 8px;border-left: none;border-top:none;border-right: none;display: inline;margin:0px 20px 0px 20px;box-shadow: none;width: 250px;height: 450px;background-color:transparent;" >
    <div  style="border-bottom:4px;border-color: rgb(83, 78, 78);
      " class="  card w-100" >
      <a style="margin-left:0px;margin-top: 0px; " 
  
>
      <img  
        src="/static/assets/images/team3.jpg"
        width="185"
        height="180"
        style="border-radius: 25px;"
       
  />
      </a>
  <div style="margin-top: 5px;margin-left: 5px;text-align: left;" class="card-body">
    <h5 class="card-title" style="font-family: 'Raleway', sans-serif;">Mcarthy Clemenson</h5>

    <p style="margin-top: 10px;width: 200px;font-family: 'Raleway', sans-serif;" class="card-text">
      The official account of NUST Formula Student Team

    </p>

<div style="margin-top: 15px;">
<img src="/static/assets/images/badge.png" style="height: 35px;width: 50px;">
<img src="/static/assets/images/badge.png" style="height: 35px;width: 50px;">
</div>

</div></div></button>


</div>
    

{% endblock %}
