<div
  style="
    margin-top: 20px;

    margin-left: 50px;
  "
  class="card-body"
>


   <a  href=''>
  <button
    style="border: none; border-radius: 25px; background: transparent"
    class="signup-design"
  >
    <div
      style="
        margin-left: 40px;
      
        background: linear-gradient(180deg, #73FD99 0%, rgba(96, 255, 140, 0.65) 100%),
linear-gradient(0deg, #73FD99, rgba(146, 255, 176, 0.2));


        width: 80rem;
        max-width: 1280px;
        border-radius: 10px;
      "
      class="card_item w-100"
    >
 
        <img src="{{ image }}" width="320" height="220" />
 
      <div
        style="margin-left: 20px; text-align: justify; padding-right: 60px"
        class="card-body"
      >
        <h5 class="card-title" style="font-family: 'Raleway', sans-serif;"><strong>{{ name }}</strong></h5>
        <span class="badge" style="background: rgba(96, 1, 211, 1);
        ">{{ badge }}</span>
        <p
          style="
            margin-top: 10px;
            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Raleway', sans-serif;
          "
          class="card-text"
        >
        {{ description }}
          
        </p>
        <span class="badge " style="background: rgba(124, 137, 251, 0.42);
        ">Secondary</span>
        <span class="badge " style="background: rgba(124, 137, 251, 0.42);
        ">Secondary</span>
        <span class="badge " style="background: rgba(124, 137, 251, 0.42);
        ">Secondary</span>
      </div>
    </div>
  </button>
</a>
</div>
