<div
  style="margin-top: 20px; margin-left: 50px; text-align: justify"
  class="card-body"
>
  <button
    style="border: none; height: 220px; background: transparent"
    class="signup-design"
  >
    <div
      style="
        flex-direction: row;
        background: rgba(210, 224, 228, 1);

        height: 220px;
        border-radius: 0px !important;
        margin-left: 40px;

        width: 80rem;
        max-width: 1280px;
        border-radius: 10px !important;
      "
      class="signup-design card w-100"
    >
      <div
        style="margin-top: 20px; margin-left: 20px; text-align: left"
        class="card-body"
      >
        <h5
          class="card-title"
          style="display: inline; color: rgba(0, 3, 86, 1); margin-right: 10px;font-family: 'Raleway', sans-serif;"
        >
          <strong>{{ name }}</strong>
        </h5>
        {{ user }}
  

        <p
          style="
            margin-right: 50px;
            margin-top: 20px;

            height: 50px;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: 'Raleway', sans-serif;
          "
          class="card-text"
        >
        {{ description }}
 
        </p>
        <div
          style="margin-top: 40px; display: flex; justify-content: space-around"
        >
          <a href="#">Interested <span class="badge">10</span></a
          ><a href="#" style="margin-left: 2em"
            >Comments <span class="badge">10</span></a
          >
        </div>
      </div>
    </div>
  </button>
 
</div>
