
{% extends 'base.html' %}

{% block content %}

<div style="flex-direction: row;
            " class=" card w-100">
      <div style="flex-direction: column;">
        <h3  style="margin-top: 30px;font-size: 2.5em;margin-left: 50px;font-family: 'Raleway', sans-serif;"><strong>Assigned Projects</strong></h3>
        <a href="/submission">
          <div style="margin-top: 20px;width: 120%;" class="card-body">
            <button style="border:none; height: 180px;background-color: transparent;" class="signup-design">
                
                <div  style="flex-direction: row;background:linear-gradient(to bottom,rgba(163, 205, 229, 1),rgba(176, 216, 225, 1),rgba(172, 194, 250, 0));height: 180px;border-radius: 0px !important;margin-left: 40px;width: auto !important;
                  " class=" signup-design card w-100">
                 <div style="display: inline;">
              <div style="margin-top: 10px;margin-left: 20px;text-align: left;" class="card-body">
                <h5 class="card-title" style="font-family: 'Raleway', sans-serif;display: block;color:  rgba(0, 3, 86, 1);margin-right: 10px
                ;font-size: 2em;font-family: 'Raleway', sans-serif;"><strong>Drone delivery System</strong></h5> 
                <div>
                    <h6 style="display: inline;font-family: 'Raleway', sans-serif;"><strong>Fluid Mechanics II</strong></h6>
                </div>
                <div style="margin-top: 20px;font-family: 'Raleway', sans-serif;"><h6>Assigned to:</h6></div>
                <div> <span class="badge " style="background: rgba(124, 137, 251, 0.42);
                    ">ME-11</span>
       <span class="badge " style="background: rgba(124, 137, 251, 0.42);
       ">ME-12</span>
        <span class="badge " style="background: rgba(124, 137, 251, 0.42);
        ">ME-13</span>
                </div>
                <div style="margin-left: 650px;margin-top: -150px;border: 40px !important;border-color: black !important;">
                  
                   <h6 style="font-family: 'Raleway', sans-serif;" ><Strong>Deadline:</Strong> 24th May 2021
                   </h6>
                   <h6 style="text-align: right;font-family: 'Raleway', sans-serif;"><strong>6:00 AM</strong></h6>
                   <h6 style="text-align: right;margin-top: 70px;font-family: 'Raleway', sans-serif;"><strong>Weightage:</strong>60%</h6>
                </div>
                
               
            
            </div></div></button></div></a>
      <a href="/submission">
        <div style="margin-top: 20px;width: 120%;" class="card-body">
          <button style="border:none; height: 180px;background-color: transparent;" class="signup-design">
              
              <div  style="flex-direction: row;background:linear-gradient(to bottom,rgba(163, 205, 229, 1),rgba(176, 216, 225, 1),rgba(172, 194, 250, 0));height: 180px;border-radius: 0px !important;margin-left: 40px;width: auto !important;
                " class=" signup-design card w-100">
               <div style="display: inline;">
            <div style="margin-top: 10px;margin-left: 20px;text-align: left;" class="card-body">
              <h5 class="card-title" style="font-family: 'Raleway', sans-serif;display: block;color:  rgba(0, 3, 86, 1);margin-right: 10px
              ;font-size: 2em;font-family: 'Raleway', sans-serif;"><strong>Python Graphical Interface</strong></h5> 
              <div>
                  <h6 style="display: inline;font-family: 'Raleway', sans-serif;"><strong>CS-121</strong></h6>
              </div>
              <div style="margin-top: 20px;font-family: 'Raleway', sans-serif;"><h6>Assigned to:</h6></div>
              <div> <span class="badge " style="background: rgba(124, 137, 251, 0.42);
                  ">CS-11A</span>
     <span class="badge " style="background: rgba(124, 137, 251, 0.42);
     ">CS-11B</span>
      <span class="badge " style="background: rgba(124, 137, 251, 0.42);
      ">CS-11C</span>
              </div>
              <div style="margin-left: 650px;margin-top: -150px;border: 40px !important;border-color: black !important;">
                
                 <h6 style="font-family: 'Raleway', sans-serif;" ><Strong>Deadline:</Strong> 27th May 2021
                 </h6>
                 <h6 style="text-align: right;font-family: 'Raleway', sans-serif;"><strong>12:00 AM</strong></h6>
                 <h6 style="text-align: right;margin-top: 70px;font-family: 'Raleway', sans-serif;"><strong>Weightage:</strong>30%</h6>
              </div>
              
             
          
          </div></div></button></div></a>
        <a href="/submission">
          <div style="margin-top: 20px;width: 120%;" class="card-body">
            <button style="border:none; height: 180px;background-color: transparent;" class="signup-design">
                
                <div  style="flex-direction: row;background:linear-gradient(to bottom,rgba(163, 205, 229, 1),rgba(176, 216, 225, 1),rgba(172, 194, 250, 0));height: 180px;border-radius: 0px !important;margin-left: 40px;width: auto !important;
                  " class=" signup-design card w-100">
                 <div style="display: inline;">
              <div style="margin-top: 10px;margin-left: 20px;text-align: left;" class="card-body">
                <h5 class="card-title" style="font-family: 'Raleway', sans-serif;display: block;color:  rgba(0, 3, 86, 1);margin-right: 10px
                ;font-size: 2em;font-family: 'Raleway', sans-serif;"><strong>Face Recognition</strong></h5> 
                <div>
                    <h6 style="display: inline;font-family: 'Raleway', sans-serif;"><strong>Cs-221</strong></h6>
                </div>
                <div style="margin-top: 20px;font-family: 'Raleway', sans-serif;"><h6>Assigned to:</h6></div>
                <div> <span class="badge " style="background: rgba(124, 137, 251, 0.42);
                    ">BESE 11-B</span>
       <span class="badge " style="background: rgba(124, 137, 251, 0.42);
       ">BESE 11-C</span>
        <span class="badge " style="background: rgba(124, 137, 251, 0.42);
        ">BESE 11-A</span>
                </div>
                <div style="margin-left: 650px;margin-top: -150px;border: 40px !important;border-color: black !important;">
                  
                   <h6 style="font-family: 'Raleway', sans-serif;" ><Strong>Deadline:</Strong> 20th May 2021
                   </h6>
                   <h6 style="text-align: right;font-family: 'Raleway', sans-serif;"><strong>8:00 AM</strong></h6>
                   <h6 style="text-align: right;margin-top: 70px;font-family: 'Raleway', sans-serif;"><strong>Weightage:</strong>30%</h6>
                </div>
                
               
            
            </div></div></button></div></a>
          <a href="/submission">
          <div style="margin-top: 20px;width: 120%;" class="card-body">
            <button style="border:none; height: 180px;background-color: transparent;" class="signup-design">
                
                <div  style="flex-direction: row;background:linear-gradient(to bottom,rgba(163, 205, 229, 1),rgba(176, 216, 225, 1),rgba(172, 194, 250, 0));height: 180px;border-radius: 0px !important;margin-left: 40px;width: auto !important;
                  " class=" signup-design card w-100">
                 <div style="display: inline;">
              <div style="margin-top: 10px;margin-left: 20px;text-align: left;" class="card-body">
                <h5 class="card-title" style="font-family: 'Raleway', sans-serif;display: block;color:  rgba(0, 3, 86, 1);margin-right: 10px
                ;font-size: 2em;font-family: 'Raleway', sans-serif;"><strong>Presentations</strong></h5> 
                <div>
                    <h6 style="display: inline;font-family: 'Raleway', sans-serif;"><strong>HU-101</strong></h6>
                </div>
                <div style="margin-top: 20px;font-family: 'Raleway', sans-serif;"><h6>Assigned to:</h6></div>
                <div> <span class="badge " style="background: rgba(124, 137, 251, 0.42);
                    ">ME 11B</span>
       <span class="badge " style="background: rgba(124, 137, 251, 0.42);
       ">CS 11-B</span>
        <span class="badge " style="background: rgba(124, 137, 251, 0.42);
        ">BESE 11B</span>
                </div>
                <div style="margin-left: 650px;margin-top: -150px;border: 40px !important;border-color: black !important;">
                  
                   <h6 style="font-family: 'Raleway', sans-serif;" ><Strong>Deadline:</Strong> 26th May 2021
                   </h6>
                   <h6 style="text-align: right;font-family: 'Raleway', sans-serif;"><strong>7:00 AM</strong></h6>
                   <h6 style="text-align: right;margin-top: 70px;font-family: 'Raleway', sans-serif;"><strong>Weightage:</strong>50%</h6>
                </div>
                
               
            
            </div></div></button></div></a></div>
        <div style="margin-top: 50px;margin-bottom:50px;margin-left: 30px;border-radius: 25px;height: 950px;" >
           <a href="/create_assigned_project" ><button type="button" class="btn btn-primary btn-rounded" style="margin-left: 210px;"><strong>Create a Project</strong></button></a>
            <div style="margin-left:0px;background-color: rgba(221, 222, 227, 1);border-radius: 25px;margin-top: 40px;margin-left: 10px;margin-right: 10px;width: 80%;margin-left: 100px;height: 250px;">
                <h5 style="text-align: center;margin-top: 40px;font-family: 'Raleway', sans-serif;"> <Strong>Following Students are falling behind</Strong></h5>
                <p style="margin-top: 20px;margin-left: 10px;margin-right: 10px;font-family: 'Raleway', sans-serif;"><strong>M.Ahmed</strong> (ME11C) has not turned in Fluid Analysis Using ANSYS (due 24th June)</p>
                <p style="margin-top: 20px;margin-left: 10px;margin-right: 10px;"><strong>M.Ahmed</strong> (ME11C) has not turned in Fluid Analysis Using ANSYS (due 24th June)</p>
                <p style="margin-top: 20px;margin-left: 10px;margin-right: 10px;margin-bottom: 40px;font-family: 'Raleway', sans-serif;"><strong>M.Ahmed</strong> (ME11C) has not turned in Fluid Analysis Using ANSYS (due 24th June)</p>
            </div>

</div>
{% endblock %}